#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_build:

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/cinnamon-screensaver-video \
	  PREFIX=/usr PYTHONDIR=/usr/lib/python3/dist-packages

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	$(MAKE) test
endif
